body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Mencegah scroll bar muncul */
  background-color: rgb(38, 42, 59);
  color: rgb(60, 61, 65);
}
.icon-back {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  color: rgba(246, 243, 243, 0.679);
  
}

